<!--
<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col">footer</div>
    </div>
</footer>
-->

<!-- Footer -->
<footer>
    <div class="row">
        <div class="left-align footer-left col-sm">
            <img class="footerlogo" src="{{ '/images/huisstijl_footer_logo.png' | relative_url }}"></a>
        </div>

        <div class="center-align footer-center col-sm">
            <p>Oostmoer 2A<br>9950 Waarschoot<br><a href="mailto:degehoorzamehonden@gmail.com">degehoorzamehonden@gmail.com</a><br>04 78 34 60 69</p>
        </div>

        <div class="right-align footer-right col-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2502.4643571082124!2d3.6175314154703297!3d51.15522804421235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3651a79717e33%3A0xa407805b5762cbce!2sOostmoer+2%2C+9950+Waarschoot!5e0!3m2!1snl!2sbe!4v1523720035960" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>        
        </div>
    </div>
</footer>





<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>